<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/four.css">
    <title>Fourth Layout</title>
</head>
<body>

    <div class="layout-wrapper">

        <nav>
            <span>LOGO</span>
            <span>Navigation</span>
        </nav>      

            
        <div class="mini-box">BOX 1</div>
        <div class="mini-box">BOX 2</div>
        <div class="mini-box">BOX 3</div>
        <div class="mini-box">BOX 4</div>
        <div class="mini-box">BOX 5</div>
        <div class="mini-box">BOX 6</div>
        <div class="mini-box">BOX 7</div>
        <div class="mini-box">BOX 8</div>
        <div class="mini-box">BOX 9</div>
        <div class="mini-box">BOX 10</div>
        <div class="mini-box">BOX 11</div>
        <div class="mini-box">BOX 12</div>
        <div class="mini-box">BOX 13</div>
        <div class="mini-box">BOX 14</div>
        <div class="mini-box">BOX 15</div>
        <div class="mini-box">BOX 16</div>

        <div class="box-wrapper">
            <div class="box">BOX 1</div>
            <div class="box">BOX 2</div>
            <div class="box">BOX 3</div>
        </div>
        <footer>footer</footer>

    </div>
    
</body>
</html>