<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/three.css">
    <title>Third Layout</title>
</head>
<body>

    <div class="layout-wrapper">

        <nav>Logo</nav>
        <aside>Side bar</aside>
        <header>Header / Banner</header>
        <article>Body area</article>
        <footer>footer</footer>

    </div>
    
</body>
</html>