*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    font-size: 62.5%;
}

.layout-wrapper{
    display: grid;
    font-size:2rem ;
    padding: 5rem;
    grid-template-columns: 1fr 3fr;
    column-gap: 1rem;
    row-gap: 1rem;
    align-content:stretch ;
}


.logo{
    border: 2px solid gray;
    background: #a3a3a3;
    grid-column: 1/-1;
    padding: 1rem;
}

nav{
    grid-column: 1/-1;
    border: 2px solid gray;
    background: #a3a3a3;
    padding: 1rem;
}

header{
    border: 2px solid gray;
    background: #a3a3a3;
    padding: 1rem;
    height: 8rem;
}

aside{

    padding: 1rem;
    grid-row: 2/3 span;
    height: 30rem;
}

article{
    border: 2px solid gray;
    background: #a3a3a3;
    grid-row:3/ 2 span ;
    padding: 1rem;
    height: 30rem;
}

footer{
    grid-column: 1/-1;
    border: 2px solid gray;
    background: #a3a3a3;
    padding: 1rem;
}