<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/two.css">
    <title>Second Layout</title>
</head>
<body>
    
    <div class="layout-wrapper">

        <nav>
            <span>LOGO</span>
            <span>Navigation</span>
        </nav>

        <header>Header / Banner</header>

        <p>Intro Text Area</p>

        <div class="box">BOX 1</div>
        <div class="box">BOX 2</div>
        <div class="box">BOX 3</div>

        <footer>Footer</footer>

    </div>

</body>
</html>