*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    font-size: 62.5%;
}

.layout-wrapper{
    display: grid;
    font-size:2rem ;
    padding: 5rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 1rem;
    row-gap: 1rem;
    align-content:stretch ;
}


.logo{
    border: 2px solid gray;
    background: #a3a3a3;
    grid-column: 1/-1;
    padding: 1rem;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    grid-column: 1/-1;
    border: 2px solid gray;
    background: #a3a3a3;
    padding: 1rem;
}

.mini-box{
    border: 2px solid gray;
    background: #a3a3a3;
    padding: 2rem; 
}

.box{
    border: 2px solid gray;
    padding: 1rem;
    height: 10rem;
    background: #a3a3a3;
}

.box-wrapper{
    grid-column: 1/-1;
    display: grid;
    column-gap: 1rem;
    row-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    /* display: flex; */
    /* justify-content: space-between; */
}



footer{
    grid-column: 1/-1;
    border: 2px solid gray;
    background: #a3a3a3;
    padding: 1rem;
}