*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    font-size: 62.5%;
}

.layout-wrapper{
    display: grid;
    font-size:2rem ;
    padding: 5rem;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
    row-gap: 1rem;
}

nav{
    display: flex;
    padding: 1rem;
    grid-column: 1/-1;
    border: 2px solid gray;
    background: #a3a3a3;
    justify-content: space-between;
}

header{
    grid-column: 1/-1;
    padding: 1rem;
    border: 2px solid gray;
    background: #a3a3a3;
}

p{
    grid-column: 1/-1;
    padding: 1rem;
    border: 2px solid gray;
    background: #a3a3a3;
}

.box{
    height: 15rem;
    padding: 1rem;
    border: 2px solid gray;
    background: #a3a3a3;
}

footer{
    grid-column: 1/-1;
    padding: 1rem;
    border: 2px solid gray;
    background: #a3a3a3;
}